.topcontainer{
  background-color: #AEE1E1;
  position: relative;
  padding-top: 100px;
  line-height: 2;
}

.boy-link{
  position: absolute;
  top: 50px;
  left: 150px;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50px;
}

.mountain{
  position: relative;
}

body{
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1{
  font-size: 5.625rem;  /* 100% = 16px = 1em so 90px = 562.5% = 5.625em */
  margin: 2.6rem auto 0 auto;
  font-family: "Dancing Script", cursive;
  color: #66BFBF;
}

h2{
  font-family: "Montserrat", sans-serif;
  font-size:2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

.pro{
  text-decoration: underline;
}

.middlecontainer{
  margin: 100px 0;
}


.bottomcontainer{
  position: relative;
  background-color: #66BFBF;
  padding: 50px 0 50px 0;
  font-family: "Montserrat", sans-serif;
  margin-top: 10%;
}

.bottom_cloud{
  position: absolute;
  bottom: 300px;
  left: 300px;

}

.top_cloud{
  position: absolute;
  right: 300px;
  top: 130px;
}

.footer-link{
  color: #11999E;
  padding:15px;
}

.mail{
  color: #11999E;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.gif{
  width: 25%;
  float: left;
  margin-right: 30px;
  padding-bottom: 6%;
}

.travel-pic{
  width: 25%;
  float: right;
  margin-left: 30px;
}

/* .travel-para{
  clear: right;
}
*/

.copyright{
  color: #EAF6F6;
  margin: 10px 0 0 0;
}

.contact-me{
  margin-bottom: 10%
}

.mail-button {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.mail-button:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
