.topcontainer{
  background-color: #AEE1E1;
  position: relative;
  padding-top: 100px;
  padding-bottom: 160px;
  line-height: 2;
}

.middlecontainer{
  margin: 100px 0 0 0;
}

.bottomcontainer{
  position: relative;
  background-color: #66BFBF;
  padding: 50px 0 50px 0;
  font-family: "Montserrat", sans-serif;
  margin-top: 10%;
}

body{
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1{
  font-size: 5.625rem;  /* 100% = 16px = 1em so 90px = 562.5% = 5.625em */
  margin: 2.6rem auto 0 auto;
  font-family: "Dancing Script", cursive;
  color: #66BFBF;
}

h2{
  font-family: "Montserrat", sans-serif;
  font-size:2.5rem;
  color: #66BFBF;
  font-weight: normal;
  margin-bottom: 0;
  color: white;
}

h3{
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 10px;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.header-link{
}

.boy-image{
  position: absolute;
  top: 50px;
  left: 150px;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50px;
}

.left-flag{
  position: absolute;
  top: 360px;
  left: 340px;
}

.right-flag{
  position: absolute;
  top: 360px;
  right: 340px;
}

.left_cloud{
  position: absolute;
  top: 340px;
  left: 100px;
}

.right_cloud{
  position: absolute;
  top: 340px;
  right: 100px;
}

.project-img{
  border-radius: 10px;
  height: 60%;
  width: 60%;
  margin-top: 100px;
}

.project-row{
  background-color: #DD4A48;
  margin-top: 100px;
  color: white;
  padding-bottom: 50px;
}

.contact-me{
  margin: 50px 50px 100px;
}

.GitHub-spotify-button {
  background: #2C394B;
  background-image: -webkit-linear-gradient(top, #2C394B, #2C394B);
  background-image: -moz-linear-gradient(top, #2C394B, #2C394B);
  background-image: -ms-linear-gradient(top, #2C394B, #2C394B);
  background-image: -o-linear-gradient(top, #2C394B, #2C394B);
  background-image: linear-gradient(to bottom, #2C394B, #2C394B);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 185px 10px 185px;
  text-decoration: none;

}

.GitHub-spotify-button:hover {
  background: #082032;
  background-image: -webkit-linear-gradient(top, #082032, #082032);
  background-image: -moz-linear-gradient(top, #082032, #082032);
  background-image: -ms-linear-gradient(top, #082032, #082032);
  background-image: -o-linear-gradient(top, #082032, #082032);
  background-image: linear-gradient(to bottom, #082032, #082032);
  text-decoration: none;
}

.mail-button {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.mail-button:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
